<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
      <button class="btn btn-danger" (click)="onDestroy()">Destroy element</button>
<!--      paragraph with out attribute directive-->
      <p appBasicHighlight>Style me with Basic Directive!</p>
<!--      here we can make property data binding to pass to the directive values to set-->
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with Better Directive!</p>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
        [name]="serverElement.name">
        <!--      if we put some code here it won't be put in the dom unless we put directive ng-content in the element html-->
              <p #contentParagraph>
                <strong *ngIf="serverElement.type === 'server'" style="color: #ff0000">{{ serverElement.content }}</strong>
                <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
              </p>
      </app-server-element>
    </div>
  </div>
<!--  My first custom structural directive -->
  <div *appUnless="false">
    <p>This is the text from my own structural directive</p>
  </div>
  <div [ngSwitch]="value">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="10">Value is 10</p>
    <p *ngSwitchCase="100">Value is 100</p>
    <p *ngSwitchDefault>Value is Default</p>
  </div >
</div>
